img {
height: 300px;
width: 300px;
float: left;
}
p{
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);
}
h1{
    font-size: 30px;
    color: black;  
}
h6{

    color:bl ;  
}